*{
    border: 1px solid red !important;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*@media only screen and (max-width: 600px){
    p{
        background-color: blue;
    }
}*/

/*@media only screen and (max-width: 600px) and (Orientation: landscape){
    p{
        display: none;;
    }
}*/

/*@media only print and (max-width: 600px){
    p{
        background-color: blue;
    }
}*/

@media only screen and (min-width: 600px){
    p{
        display: none;
    }
}

*{
    font-family: 'Lato', sans-serif;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.imgrow{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.rowFeature h4{
    font-size: 250%;
    font-family: 'Lato', sans-serif;
}

.col-6 h1{
    font-size: 325%;
    font-family: 'Lato', sans-serif;
}

.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
    text-align: center;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
    text-align: right;
}
.col-6-left{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}